
<nav class="navbar mb-2 fixed-bottom text-center">
    <a class="nav-link left-item bg-grey" href="/"><i class="fa fa-heart fa-2x <% if (page_name === 'Recipes') { %> active-link <% } %> "></i></a>
    <a class="nav-link bg-grey" href="/calendar"><i class="fa fa-calendar fa-2x <% if (page_name === 'Calendar') { %> active-link <% } %> "></i></a>
    <a class="nav-link right-item bg-grey" href="/list"><i class="fa fa-list-ul fa-2x <% if (page_name === 'List') { %> active-link <% } %> "></i></a></li>
</nav>
