<body class="bg-violet">
  <div class="mobile-heading" >
    <h1>Meine <span style = "display: block;">Lieblinge</span> </h1>
  </div>
  <div class="desktop-heading" >
    <h1>Meine Lieblinge</h1>
  </div>
</body>
