/* Colors */

.bg-violet {
  background: #EBEDFF !important;
}

.bg-grey {
  color: #929292 !important;
}


/* Navigation */
.left-item {
  margin-left: 30%;
}

.right-item {
  margin-right: 30%;
}

.active-link {
  color: white;
}

.nav-link:hover {
  color: white !important;
}


@media (max-width: 768px) {
  .left-item {
    margin-left: 15%;
  }
  .right-item {
    margin-right: 15%;
  }

}

/*Recipe Cards */

#recipe-card {
  border-radius: 2rem !important;
  background-image: linear-gradient(to top, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
  border: none;
  max-height: 20rem;
}
