/* Colors */

.bg-violet {
  background: #EBEDFF !important;
}

.bg-grey {
  color: #929292 !important;
}


/* Navigation */
.left-item {
  margin-left: 30%;
}

.right-item {
  margin-right: 30%;
}

.active-link {
  color: white;
}

@media (max-width: 768px) {
  .left-item {
    margin-left: 15%;
  }
  .right-item {
    margin-right: 15%;
  }
}
