
<div class="container">
  <h1 class="font-weight-bold my-5 ml-2 display-4">Meine <br class="d-block d-md-none">Lieblinge </h1>
</div>

<!-- Recipe Cards -->

<div class="card-columns row">

  <% recipes.forEach(r => { %>
    <div id="small-card" class="card rounded-card col-xs-12 col-xl-3 mb-4 mx-3 shadow">
        <a href="/<%= r._id %>" id="card-links" class="stretched-link"></a>
      <div class="card-body mt-2">
        <div class="d-flex justify-content-between">
          <h4 class="card-title font-weight-bold"><%= r.title %></h4>
          <p class="font-weight-bold"><%= r.estimatedTime %> min</p>
        </div>
      </div>
      <div style="height: 8rem; border-radius: 2rem;" class="bg-light my-3 text-center">
        <p>Placeholder for image</p>

      </div>
    </div>
  <% }); %>
</div>
