<div id="recipe-card" class="card col-xs-12 col-xl-3 mb-4 mx-3 shadow " >
  <div class="card-body mt-2">
    <div class="d-flex justify-content-between">
      <h4 class="card-title font-weight-bold">Beet Root Risotto</h4>
      <p class="font-weight-bold">40 min</p>
    </div>
  </div>
  <div style="height: 8rem; border-radius: 2rem;" class="bg-light my-3 text-center">
    <p>Placeholder for image</p>
    <a href="/calendar" class="stretched-link">See Recipe</a>
  </div>
</div>
